<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName">

	<bean id="dataSource"
		class="org.unitils.database.UnitilsDataSourceFactoryBean"/>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">   
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan" value="ru.sstu.dao.domain"/>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.HSQLDialect
				hibernate.show_sql=true
				hibernate.hbm2ddl.auto=create
			</value>
		</property>
	</bean>

	<bean id="testTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<tx:annotation-driven transaction-manager="txManager"/>
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<context:annotation-config/>

	<context:component-scan base-package="ru.sstu.dao.impl">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository"/>
	</context:component-scan>
</beans>
